@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserClaimsViewModel

<h2>Manage claims for user</h2>

@*<form asp-controller="Admin" asp-action="ManageClaimsForUser">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <select asp-for="ClaimId"
            asp-items="@(new SelectList(Model.AllClaimsList))">
        <option>Please select a claim</option>
    </select>
    <input class="btn btn-primary" value="Add claim for user" type="submit" />
</form>*@
@*<form asp-controller="Admin" asp-action="ManageUserClaims">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <select asp-for="ClaimId"
            asp-items="@(new SelectList(Model.AllClaimsList))">
        <option>Please select a claim</option>
    </select>
    <input class="btn btn-primary" value="Add claim for user" type="submit" />
</form>
<a asp-action="UserManagement" class="btn btn-primary">Done</a>*@
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Claims</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Claims.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                    <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
                        @Model.Claims[i].ClaimType
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary"
               style="width:auto">Cancel</a>
        </div>
    </div>
</form>